* {
  margin: 1px;
  padding: 3px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #919191ce;
  margin-top: 70px;
}

/* Center position and style the container */
#game {
  max-width: 650px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

/* logo and heading */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo,
.heading {
  display: inline-block;
  vertical-align: middle;

}

.logo {
  width: 264px;
  height: auto;
  margin-bottom: 0px;
}

/* Google font for the headings*/
.heading {
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
  margin-bottom: 10px;
  color: #333;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

/* Game options and submit-button */
.options {
  display: flex;
  justify-content: center;
}

.options>div {
  display: flex;
  flex-direction: column;
}

.gameOption {
  margin-right: 20px;
  font-size: 18px;
}

/*Error message */
.error {
  color: red;
  font-weight: bold;
}

.removetext {
  display: none
}

.gameButton {
  margin-top: 10px;
  background-color: #66d394;
  font-weight: bold;
}

/* Game resuls */
.player-selection,
.computer-selection {
  margin-top: 30px;
  font-size: 20px;
}

/* "Who's going to win?" message */
#whoWins {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

/* Scoreboard */
h4 {
  font-size: 20px;

}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.score-board {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.score-board p {
  font-size: 18px;
  margin: 0;
}

/* Total games played message and counter */
#totalstats {
  font-size: 25px;

}

#total {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

/* Winning message, you win/computer win/it's a tie */
.you-win {
  background-color: lightgreen;
}

.you-lose {
  background-color: lightcoral;

}


.tie-message {
  background-color: yellow;
}